.butt, .disableButt {
    background-color: #383838;
    border: none;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    color: white;
    padding: 10px 30px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.butt:hover {
    background-color: #595959;
}

.disableButt {
    background-color: #595959;
    color: darkgrey;
}